@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>登录</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/nprogress.css" rel="stylesheet" />
    <link href="~/Content/login.css" rel="stylesheet" />
</head>
<body>
    <div class="login-box">
        <form action="" method="post" class="layui-form layui-form-pane">
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                <legend>登录</legend>
            </fieldset>
            <div class="layui-form-item">
                <label class="layui-form-label">
                    用户名
                </label>
                <div class="layui-input-inline layui-input-big-width">
                    <input type="text" name="username" lay-verify="required" autocomplete="off" placeholder="请输入用户名"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">
                    密码
                </label>
                <div class="layui-input-inline layui-input-big-width">
                    <input type="password" name="password" lay-verify="required" placeholder="请输入密码"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">
                    验证码
                </label>
                <div class="layui-input-inline layui-input-small-width ">
                    <input type="text" name="checkCode" lay-verify="required" placeholder="验证码" autocomplete="off"
                           class="layui-input">
                </div>
                <div class="layui-input-inline layui-input-code-width">
                    <img src='@Url.Action("GetCheckCode")' id="imgCheckCode" class="layui-input" title="点击更改验证码" />
                </div>
            </div>
            <button class="layui-btn" lay-submit="" id="btnSub" lay-filter="btnSub" type="button">
                登录
            </button>
            <input type="hidden" name="returnUrl" value="@ViewData["returnUrl"]" />
        </form>
        <div class="copyright">
            © 2017-2018 LFDCC All Rights Reserved.
        </div>
    </div>

    <script src="~/Scripts/layui/layui.js"></script>
    <script>
        layui.config({
            version: true,
            base: "/Resource/layui/custom_modules/",
        }).use(['jax', 'form', 'nprogress'], function () {
            var form = layui.form;
            var nprogress = layui.nprogress;
            var $ = layui.$;
            var index = 0;
            //监听提交
            form.on('submit(btnSub)', function (data) {
                $.ajax({
                    url: "/Account/Login",
                    type: "post",
                    dataType: "json",
                    data: data.field,
                    beforeSend: function () {
                        nprogress.start();
                    },
                    success: function (res) {
                        if (res.status == 200) {
                            location.href = res.data;
                        } else {
                            nprogress.done();
                            index = layer.alert(res.msg, { icon: 5 });
                        }
                    }
                });
                return false;
            });
            //自定义验证规则
            form.verify({
                username: function (value) {
                    if (value.length == 0) {
                        return '请输入用户名！';
                    }
                }
                , password: function (value) {
                    if (value.length == 0) {
                        return '请输入密码！';
                    }
                }, verifycode: function (value) {
                    if (value.length == 0) {
                        return '请输入验证码！';
                    }
                }
            });

            $("#imgCheckCode").on("click", function () {
                $(this).attr('src', '/Account/GetCheckCode/' + new Date().getTime());
            })
            $(document).on("keydown", function (event) {
                if (event.keyCode == 13) {
                    if (index > 0) {
                        layer.close(index);
                        index = 0;
                    } else {
                        $("#btnSub").click();
                    }
                }
            })
        })

    </script>
</body>
</html>